<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="fileToIgnoreGroup">
            <section name="fileToIgnore" type="System.Configuration.SingleTagSectionHandler" />
        </sectionGroup>
    </configSections>
    <FileToIgnoreSection>
        <FileToIgnore>
            <add FileName="BattleTechModLoader.dll"/>
            <add FileName="0Harmony.dll" />
        </FileToIgnore>
    </FileToIgnoreSection>
</configuration>